body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0; /* Видаляти відступи */
    height: 100vh; /* Висота екрану */
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Повна ширина для центрованого контенту */
}

#leftContainer, #rightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#gameWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Розташовуємо елементи вертикально */
}

#coinCanvas {
    border: 1px solid black;
    margin-right: 10px; /* Відстань між канвасами */
}

#emptyCanvas {
    border: 1px solid black;
    margin-left: 10px; /* Відстань між канвасами */
}

#controls {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Центруємо кнопку */
}

button {
    padding: 10px 20px;
    font-size: 16px;
}
