body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
    margin: 0; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

#leftContainer, #rightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#gameWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

#coinCanvas {
    border: 1px solid black;
    margin-right: 10px; 
}

#shopCanvas {
    border: 1px solid black;
    margin-left: 10px; 
}

#controls {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
}

button {
    margin: 10px;
    background-color: gray;
    padding: 10px 20px;
    font-size: 16px;
}
